body{

  background-color: #cfcfcf;

  font-family: 'Sarpanch', sans-serif;
  margin: 0;

}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  align-items: center;
}

.container h1 {
  display: flex;
  justify-content: center;
  border-bottom:2px solid black;
  margin-bottom: 20px;
  width: 65vw;
  margin: 3rem 0rem;
}

.gallery {

  display: grid;

  grid-template-columns: 1fr 1fr;

  
}

/* **********  LITTLE TRANSITION TO MAKE IT LOOK LIKE ITS PUSHING DOWN **********  */


.gallery figure {

  margin: 2rem;

  width: 20rem;

  padding: 1rem;

  text-align: center;
  padding: 35px;

  transition: all 1s ease;

  border-radius: 50px;
  background: #f4f4f4;
  background: #cfcfcf;
  box-shadow:  8px 8px 10px #aeaeae, 
               -8px -7px 15px #f0f0f0;

}

figure img {
  background-color: white;
  width: 15vw;
  margin-right: 1vw;
  border-radius: 30px;
}




figure  figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 10px 28px;

  box-shadow: inset 17px 17px 33px #b3b3b3, 
  inset -17px -17px 33px #f0f0f0;
  border-radius: 26px;

  border-right: 1px solid white;
  border-left: 1px solid #7b7b7b;
  
}

figure figcaption h2 {
  border-bottom: 2px solid black;
  width: 19vw;
  font-size: clamp(16px, 3vw, 36px);
  font-weight: normal;
  margin-bottom: 5px;
}

figure figcaption p {
  font-family: 'Lato', sans-serif;
  font-size: clamp(8px, 2vw, 16px);
  margin: 8px 10px;
}

.gallery > figure:hover {

  transition: all 0.5s ease-in-out;
  transform: translateY(-8px);

  box-shadow: 4px 4px 20px 0px #6d6b6a;

  cursor: pointer;

}

.gallery .card {
  display: flex;
  align-items: center;
  width: 43vw;
  flex-direction: row;
  background-color: rgb(215, 215, 215);
}

.gallery .card h1 {
  border-bottom: 1px solid rgb(100, 100, 100);
}

footer {
  text-align: center;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1500px){

  .columns {

    display: grid;

    flex-shrink: 1;

    padding: 0 5rem 0 5rem;
    grid-template-columns: 2fr 2fr;  
    grid-column-gap: 2rem;
    grid-row-gap: 1em;
    
  }

  .columns > figure img {

    width: 100%;
    height: 27rem;

    border-top-left-radius:  0.5rem;
    border-top-right-radius:  0.5rem;

  }
}

@media screen and (max-width: 900px){

  .columns {
    
    display: grid;

    padding: 0 5rem 0 5rem;

    grid-template-columns: 2fr;  
    grid-column-gap: 2rem;
    grid-row-gap: 1em;
    
  }

  .columns > figure img {

    width: 100%;
    height: 19rem;

    border-top-left-radius:  0.5rem;
    border-top-right-radius:  0.5rem;

  }
  
}

   