* {
  box-sizing: border-box;
}

body{

  display: flex;
  flex-direction: column;

  background-color: #cfcfcf;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Sarpanch', sans-serif;
  margin: 0;

}


.profile {
  display: grid;
}

.profile .follow {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  opacity: 0.5;

}

.profile h2 {
  text-align: center;
  margin: 15px 0;
}

/* ********** LITTLE BIT OF ANIMATION FOR ARROWS **********  */


.profile .follow p {
  font-size: 50px;

  animation: arrow 1s infinite 0s linear;
}

@keyframes arrow{
  0%{
      transform: translateY(0%);
      opacity: 0;
      }
  50%{
      transform: translateY(50%);
      opacity: 1;
      }
  100%{
      transform: rotate(xx) translateY(100%);
      opacity: 0;
      }
}

/* ********** CREATE CIRCLE TRANSITION IN ORDER TO REVEAL MORE DETAILS **********  */

.profile figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 20px;

  border-radius: 50px;
  background: #cfcfcf;
  box-shadow:  17px 17px 33px #aeaeae, 
               -17px -17px 33px #f0f0f0;

  clip-path: circle(27% at 51% 33%);
  transition: clip-path 0.5s ease-in-out;

}

.profile figure:hover {
  clip-path: circle(75%);
}

.profile figure img {
  border-radius: 40px;
  width: 20em;
  background-color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid #a2a2a2;
  border-left: 1px solid #7b7b7b;
}


.contact {
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.contact h2 {
  margin: 10px;
}

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 20em;
  background-color: rgb(146, 146, 146);
  padding: 40px 20px 20px 20px;
  flex-grow: inherit;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 15px;

  border-radius: 50px;
  background: #f4f4f4;
  background: #cfcfcf;
  box-shadow:  17px 17px 33px #aeaeae, 
               -17px -17px 33px #f0f0f0;
}

.card i {
  text-align: center;
  font-size: 55px;
  color:  rgb(87, 87, 87);
  padding: 30px;
  border-radius: 9px;

  border-radius: 50px;
  background: #cfcfcf;
  box-shadow:  17px 17px 33px #aeaeae, 
               -17px -17px 33px #f0f0f0;

  
}

/* ********** DIFFERENT APPROACH OF MAKING BUTTONS WITH NEUMORPHISM **********  */

.card i:hover {
  background-color: #cfcfcf;
  box-shadow:  -7px 7px 14px #aeaeae, 
  7px -7px 14px #f0f0f0;
}

.card h3 {
  text-align: center;
  font-size: 25px;
  margin: 15px;
  border-bottom: 1px solid black;
}

footer {
  text-align: center;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
