<ul class="logo">
  <li>
    <img src="/img/items/logo-ball.jpg" alt="">
  </li>
</ul>
<!-- navigation -->
<div class="nav">
  <ul class="navigation">
    <li><a href="/html/homepage.html">Home</a></li>
      <li><a href="/html/gallery.html">Gallery</a></li>
      <li><a href="#">Resources</a></li>
  </ul>
</div>
