<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href="../css/gallery.css">

    <title>Haikyuu | Gallery</title>

    <script type="module" src="/js/client.js"></script>
  </head>

  <body>

    <main class="position-relative">

      <!-- navigation -->
      

      <!-- IMAGE CONTAINER -->

      <div class="container">
        <h1>Player Profiles</h1>
        <div class="gallery"></div>
      </div>

      <!-- FOOTER -->

    </main>
    
  </body>
  
</html>























































  <!-- <figure>
    <div class="d-flex flex-column">
      <img 
        src="../img/lrg/pexels-tim-mossholder-1136567.webp" alt="car img" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-skitterphoto-2071.webp" alt="skitter" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-pixabay-163557 (1).webp" alt="bay" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-neil-kelly-flip.webp" alt="neil" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-markus-spiske-2027045.webp" alt="markus" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-markus-spiske-1871016.webp" alt="spiske" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-markus-spiske-1730001.webp" alt="markus2" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-mark-degnan-1008659.webp" alt="degnan" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure>
  
  <figure>
    <div class="d-flex flex-column">
      <img src="../img/lrg/pexels-katie-salerno-18765.webp" alt="salerno" loading="lazy">
      <p class="mt-3 px-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere consequuntur labore velit minima doloremque ab dolorum dolores. Accusantium quos repellat rerum eaque. Dolorum voluptate impedit amet unde soluta. Libero!
      </p>
    </div>
  </figure> -->