<!DOCTYPE html>
<html lang="en">
  
  <head>

    <link rel="stylesheet" href="../css/homepage.css">

    <title>Haikyuu!</title>


  </head>

  <body>
    
    <main>

      <div class="no-gradient">

          <!-- navigation -->
        

        <div class="banner">
          <div class="liner">
            <p>Based from the manga and anime</p>
            <h2><em>"HAIKYUU"</em></h2>
            <p>authored by Haruichi Furudate</p>
            <p>brough to life by Production I.G.</p>
          </div>

        </div>

        <div class="bg">
          <figure>
            <img src="/img/bg/noya-bg.jpg" alt="">
          </figure>
        </div>

      </div>

      <div class="gradient">

            <!-- about -->
        <div class="about">
          <figure>
            <img src="/img/items/shoyo.jpg" alt="">
          </figure>

          <div class="description">
            <h1>About</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, voluptas atque earum officiis officia esse sapiente sed consequatur? Tempore aut laudantium pariatur quae molestias possimus dolore dolorem non architecto voluptate.Officiis, modi temporibus molestiae aperiam reprehenderit repudiandae aut distinctio alias? Enim quo autem non tenetur nobis quas odio a expedita eveniet, cumque nostrum odit molestiae quis asperiores quod recusandae consectetur.

            </p>
          </div>
        </div>


        <div class="media">
          <h2>Entertainment</h2>

        </div>
        
        <div class="option">

          <div class="manga">
            <h2>Manga</h2>

            <figure>
              <img src="/img/items/Haikyū_Volume_1.jpg" alt="volume-one-cover">

              <figcaption>see more >>></figcaption>
            </figure>

          </div>
          <div class="anime">
            <h2>Anime</h2>

            <figure>
              <img src="/img/items/anime-cover.jpg" alt="season-one-cover">

              <figcaption>see more >>></figcaption>
            </figure>

          </div>

          <div class="play">
            <h2>Live play</h2>

            <figure>
              <img src="/img/items/haikyuu-live.webp" alt="live-play-cover">

              <figcaption>see more >>></figcaption>
            </figure>

          </div>

        </div>

          <!-- FOOTER -->


      </div>
    </main>

  </body>

</html>



